<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
       xmlns:ui="http://java.sun.com/jsf/facelets" > 
<!--<body >-->


<ui:composition >
  <f:view>
    
  <f:loadBundle basename="fr.intech.dvtejb.clientJSF2.messages" var="lesMessages"/> 
 <h:form>
	<table height="100%" width="100%" cellspacing="0" cellpadding="0" style="border:1 solid black" bgcolor="#0683FF">
	<tr>
	    <td height="100%" valign="middle">
	        <div valign="center" >
	        <font size="12"><strong><center>
	       		 <h:outputText value="#{lesMessages.header_titre}"/>
	        </center></strong></font>
	        </div>
	    </td>
	</tr>
	</table>
 </h:form>
 </f:view>
</ui:composition>

<!--</body>-->
</html>