<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">    
<ui:composition 
		xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/templates/template.xhtml">
          
 <ui:define name="titre">  <h:outputText value="#{lesMessages.listeArticles_titre}"/> </ui:define>
    <ui:define name="contenu">
    <center>
    <f:view beforePhase="#{magasinBean.afficherCommandesPrecedentes}" >
    <f:loadBundle basename="fr.intech.dvtejb.clientJSF2.messages" var="lesMessages"/>
        <h:form>
        
        <div align="right" >
		 <h:graphicImage url="/images/utilisateur.gif"  /><br />
		 <h:outputText value="#{lesMessages.general_nom}" /> : <h:outputText value="#{sessionScope.loginBean.client.nom}"/><br/>
		 <h:outputText value="#{lesMessages.general_prenom}" />:  <h:outputText value="#{sessionScope.loginBean.client.prenom}"/>
		</div>

      <h2><h:outputText value="Voici l'historique de vos commandes" /></h2>
    
   <h:dataTable value="#{magasinBean.commandes}" rendered="#{not empty magasinBean.commandes}" 
      var="CommandeDTO"  bgcolor="#F1F1F1" border="10" cellpadding="5" cellspacing="3" first="0" width="50%" dir="LTR" frame="hsides"
	  rules="all" summary="Ceci est la dataTable pour afficher lhistorique des commandes." rowClasses="Tableligne1,TableLigne2"
	  columnClasses="TableColonne" styleClass="TableClass" headerClass="TableHeader">    

       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="ID Commande"/>    
           </f:facet>                                                    
           <h:outputText value="#{CommandeDTO.commandeId}"/>    
       </h:column>    
       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Nom article"/>    
           </f:facet>                                                    
           <h:outputText value="#{CommandeDTO.nomArticle}"/>    
       </h:column>    
       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Date commande" />
           </f:facet>                                                    
           <h:outputText value="#{CommandeDTO.dateCommande}">
         	  <f:convertDateTime  pattern="dd.MM.yyyy" />  
           </h:outputText> 
       </h:column>   
      
	</h:dataTable>
        </h:form>
     </f:view>
     </center>
    </ui:define>
</ui:composition>
