<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">    
<ui:composition 
		xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/templates/template.xhtml">
          
 <ui:define name="titre">  <h:outputText value="#{lesMessages.listeArticles_titre}"/> </ui:define>
    <ui:define name="contenu">
    <center>
    <f:view >
    <f:loadBundle basename="fr.intech.dvtejb.clientJSF2.messages" var="lesMessages"/>
        <h:form>
        
        <div align="right" >
		 <h:graphicImage url="/images/utilisateur.gif"  /><br />
		 <h:outputText value="#{lesMessages.general_nom}" /> : <h:outputText value="#{sessionScope.loginBean.client.nom}"/><br/>
		 <h:outputText value="#{lesMessages.general_prenom}" />:  <h:outputText value="#{sessionScope.loginBean.client.prenom}"/>
		</div>
       
      <h2><h:outputText value="Voici les résultats de votre recherche" /></h2>
     

   <h:dataTable value="#{rechercheJSFBean.listeResultatArticles}" rendered="#{not empty rechercheJSFBean.listeResultatArticles}" 
      var="magDTO"  bgcolor="#F1F1F1" border="10" cellpadding="5" cellspacing="3" first="0" width="50%" dir="LTR" frame="hsides"
	  rules="all" summary="Ceci est la dataTable pour afficher le resultat de la recherche" rowClasses="Tableligne1,TableLigne2"
	  columnClasses="TableColonne" styleClass="TableClass" headerClass="TableHeader">    

       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Nom catalogue"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.nomCatalogue}"/>    
       </h:column>    
       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Nom produit"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.nomProduit}"/>    
       </h:column>    
       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Nom article"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.nomArticle}"/>    
       </h:column>   
     
       <h:column>    
           <f:facet name="header" >    
               <h:outputText value="ID"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.id}"/>    
       </h:column>  
        <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Prix"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.prix}"/>    
       </h:column>  
        <h:column>    
           <f:facet name="header" >    
               <h:outputText value="Quantite en stock"/>    
           </f:facet>                                                    
           <h:outputText value="#{magDTO.quantite}"/>    
       </h:column>  
        <h:column>                                                           
           <h:commandLink  value="Visualiser"  action="#{magasinBean.afficherDetails}" >
                <f:param name="id" value="#{magDTO.id}"/> 
                 <h:graphicImage url="../images/loupe.png" /> 
   		   </h:commandLink>   		  
       </h:column>  
	</h:dataTable>
        </h:form>
     </f:view>
     </center>
    </ui:define>
</ui:composition>
