<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">    
<ui:composition 
		xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/templates/template.xhtml">
          
 <ui:define name="titre">  <h:outputText value="#{lesMessages.listeArticles_titre}"/> </ui:define>
    <ui:define name="contenu">
    <center>
    <f:view >
    <f:loadBundle basename="fr.intech.dvtejb.clientJSF2.messages" var="lesMessages"/>
        <h:form>
        
         <div align="right" >
		 <h:graphicImage url="/images/utilisateur.gif"  />
		 	<f:verbatim><br /></f:verbatim>
		 <h:outputText value="#{lesMessages.general_nom}" /> : <h:outputText value="#{sessionScope.loginBean.client.nom}"/>
		 	<f:verbatim><br/></f:verbatim>
		 <h:outputText value="#{lesMessages.general_prenom}" />:  <h:outputText value="#{sessionScope.loginBean.client.prenom}"/>
		</div>
       
		<h2><h:outputText value="Paiement effectué"/></h2>
		
		Vous allez recevoir un mail avec le récapitulatif de votre commande.
		         
        </h:form>
     </f:view>
     </center>
    </ui:define>
</ui:composition>        